@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 17 24 39;
    --background: 249 250 251;
    --primary: 16 183 127;
    --primary-foreground: 236 253 245;
  }

  .dark {
    --foreground: 229 231 235;
    --background: 31 41 55;
    --primary: 16 185 129;
    --primary-foreground: 2 44 34;
  }
  a,
  button,
  input {
    @apply focus:outline-none ring-primary ring-offset-1 ring-offset-background focus-visible:ring-2;
  }
}
html,
body {
  scroll-behavior: smooth;
}
